.paragraph--type--st-story {
  display: flex;
  position: relative;
  overflow: hidden;
}

.st-menu-left {
 flex-direction: row;
}

.st-menu-right {
  flex-direction: row-reverse;
}

.st-menu-left #chapters {
  padding: 0 0 0 20px;
}

.st-menu-right #chapters {
  padding: 0 20px 0 0;
}

#jump-menu {
  position: static;
  min-width: 240px;
  max-height: 500px;
  padding: 0 0 80px 0;
  overflow-y: scroll;
  background-color: #ffffff;
}

#jump-menu.sticky {
  position: fixed;
  top: 0;
}

#jump-menu a {
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.47;
  letter-spacing: normal;
  color: #083252;
  padding: 10px 0;
  border-bottom: none;
  text-decoration: underline;
}

#jump-menu a.active {
  font-weight: 700;
}

#chapters {
  width: 100%;
  padding: 0 20px;
}

.st-menu-left #chapters.scrolled {
   margin-left: 240px;
}

.st-menu-right #chapters.scrolled {
  margin-right: 240px;
}
