{#
/**
 * @file
 * Default implementation to display a Story paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{# The template default set classes. #}
{# Sets Paragraph ID as class. #}
{%
set classes = [
  side,
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  'paragraph--id--' ~ paragraph.id.value,
  not paragraph.isPublished() ? 'paragraph--unpublished',
]
%}

<div {{ attributes.addClass(classes) }}>
  <div id="jump-menu">
    <ul id="jump-menu-inner">
      {{ menu_links|raw }}
    </ul>
  </div>
  <div id="chapters" class="chapters">
    {% for key, chapter in content.field_st_chapters if key|first != '#' %}

      {% set transition = chapter['#paragraph'].field_st_chapter_transition.0.value|clean_class %}

      {% if transition == 'flip-horizontally' %}
        {% set transition = 'flip-left' %}
      {% endif %}

      {% if transition == 'flip-vertically' %}
        {% set transition = 'flip-up' %}
      {% endif %}

      <div{{ attributes.setAttribute('class', transition).setAttribute('data-aos', transition).addClass('paragraph--type--st-chapter').removeClass('paragraph--type--st-story') }} id="{{ key + 1 }}">
        <div class="chapter-container">
          {% set hidden = chapter['#paragraph'].field_st_hide_chapter_title.value %}
          {% if chapter['#paragraph'].field_st_chapter_title.value|render|striptags|trim is not empty and hidden == '0' %}
            <h2>{{ chapter['#paragraph'].field_st_chapter_title.value }}</h2>
          {% endif %}
          {{ chapter|without('field_st_chapter_title') }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
